Flask==2.3.2
Flask-Cors==3.0.10
Flask-PyMongo==2.3.0
python-dotenv==1.0.0
Werkzeug==2.3.7
PyJWT==2.8.0
Pillow==10.0.0  # Required for image processing
ultralytics==8.0.0  # The latest version compatible with YOLO
numpy==1.25.2  # Required for numerical operations (used in image processing)
